KHANZADI WAZIR ALI

00272819

ASSIGNMENT 03

Python Assignment List Tuples and methods


Basic List Operations

1. Create a list of five numbers and append a new number to it. Print the updated list.

2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

In [ ]:
# 1. Create a list of five numbers and append a new number to it. Print the updated list.

# Create a list of five numbers
numbers = [10, 20, 30, 40, 50]

# Append a new number to the list
numbers.append(60)

# Print the updated list
print(numbers)

[10, 20, 30, 40, 50, 60]

In [ ]:
# 2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

# Create a two list
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# Extend list1 with list2
list1.extend(list2)

# Print the result
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

# Create a list
languages = ["Java", "C++", "JavaScript", "Ruby"]

# Insert the string "Python" at index 2
languages.insert(2, "Python")

# Print the result
print(languages)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

In [ ]:
# 4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

# Create a list
numbers = [10, 20, 30, 10, 40]

# Remove the first occurrence of the number 10
numbers.remove(10)

# Print the result
print(numbers)

[20, 30, 10, 40]

In [ ]:
 # 5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

 # Create the list
numbers = [100, 200, 300, 400]

# Use the pop() method to remove the last element
numbers.pop()

# Print the result
print(numbers)

[100, 200, 300]

Intermediate List Operations

6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

10. Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

In [ ]:
# 6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

# Create the list
numbers = [5, 10, 5, 20, 5, 30]

# Count how many times the number 5 appears
count_5 = numbers.count(5)

# Print the result
print("The number 5 appears", count_5, "times in the list.")

The number 5 appears 3 times in the list.

In [ ]:
# 7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

# Create the list
numbers = [9, 1, 8, 3, 5]

# Sort in ascending order
ascending_order = sorted(numbers)

# Sort in descending order
descending_order = sorted(numbers, reverse=True)

# Print the results
print("Ascending Order:", ascending_order)
print("Descending Order:", descending_order)

Ascending Order: [1, 3, 5, 8, 9]
Descending Order: [9, 8, 5, 3, 1]

In [ ]:
# 8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

# Create the list
fruits = ["apple", "banana", "cherry"]

# Reverse the list
fruits.reverse()

# Print the result
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
# 9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

# Create the original list
original_list = [1, 2, 3, 4, 5]

# Create a copy of the list
copied_list = original_list.copy()

# Modify the copied list
copied_list.append(6)

# Print both lists
print("Original List:", original_list)
print("Copied List:", copied_list)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5, 6]

In [ ]:
# 10. Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

# Create the list
words = ["hello", "world", "python"]

# Clear all elements from a list
words.clear()

# Print the list
print(words)

[]

Tuple-Based Questions

11. Create a tuple with 5 different fruits and print the third fruit.
12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
it back into a tuple.
13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
modify a tuple indirectly?
14. Unpack the tuple (100, 200, 300) into three separate variables and print them.
15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [ ]:
# 11. Create a tuple with 5 different fruits and print the third fruit.

# Create a tuple with 5 different fruits
fruits = ("apple", "banana", "cherry", "orange", "grape")

# Print the third fruit (index 2)e
print(fruits[2])

cherry

In [ ]:
# 12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.

# Create the tuple
numbers_tuple = (10, 20, 30, 40, 50)

# Converte the tuple into a list
numbers_list = list(numbers_tuple)

# Remove the number 30
numbers_list.remove(30)

# Converte the list back into a tuple
numbers_tuple = tuple(numbers_list)

# Print the result
print(numbers_tuple)

(10, 20, 40, 50)

In [ ]:
# 13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?

#Attempt to Append to a Tuple

# Create a tuple
my_tuple = ("A", "B", "C")

# Attempt to append an element (This will raise an error)
my_tuple.append("D")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Modifying a Tuple Indirectly

# Create a tuple
my_tuple = ("A", "B", "C")

# Convert tuple to a list
temp_list = list(my_tuple)

# Add an element
temp_list.append("D")

# Convert back to a tuple
modified_tuple = tuple(temp_list)

# Print the modified tuple
print(modified_tuple)

('A', 'B', 'C', 'D')

In [ ]:
# 14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

# Create the tuple
numbers = (100, 200, 300)

# Unpacking the tuple into separate variables
a, b, c = numbers

# Print the values
print("a:", a)
print("b:", b)
print("c:", c)

a: 100
b: 200
c: 300

In [ ]:
# 15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

# Create the tuple
numbers = (7, 1, 7, 3, 7, 5)

# Count occurrences of 7
count_7 = numbers.count(7)

# Print the result
print("The number 7 appears", count_7, "times in the tuple.")

The number 7 appears 3 times in the tuple.

Advanced Problems
16. Write a function that takes a list and returns a new list with all even numbers removed.
17. Create a function that accepts a list and returns a new list with elements sorted in
descending order without using the sort() method.
18. Given a list of numbers, write a program to remove all duplicate elements and print the
unique elements.
19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
it into a list, remove duplicates, and convert it back to a tuple.
20. Create a program that takes a list of mixed data types (int, str, float) and separates
integers into one list, strings into another, and floats into another.

In [ ]:
# 16. Write a function that takes a list and returns a new list with all even numbers removed.

def remove_evens(numbers):
    new_list = []
    for num in numbers:
        if num % 2 != 0:  # only odd numbers
            new_list.append(num)
    return new_list

numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(remove_evens(numbers_list))

[1, 3, 5, 7, 9]

In [2]:
# 17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.

def custom_sort_desc(numbers):
    new_list = []
    while numbers:
        max_value = max(numbers)
        new_list.append(max_value)
        numbers.remove(max_value)
    return new_list

numbers_list = [5, 2, 9, 1, 7, 6]
print(custom_sort_desc(numbers_list))

[9, 7, 6, 5, 2, 1]

In [4]:
# 18. Given a list of numbers, write a program to remove all duplicate elements and print the unique elements.

my_list = [1,2,3,4,1,2,3,4,5,2]
unique_list = set(my_list)
my_list =  list(unique_list)
print(my_list)

[1, 2, 3, 4, 5]

In [6]:
# 19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.

my_tuple = ("Alice", "Bob", "Charlie", "Alice", "David")
names_list = list(my_tuple)
unique_value  = set(names_list)
my_tuple = tuple(unique_value)
print(my_tuple)

('David', 'Charlie', 'Alice', 'Bob')

In [7]:
# 20. Create a program that takes a list of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats
# into another.

mixed_list = [5, "Zunairah", 7.8, 10, "Bisma", "Samaviya", 8, 3.5]
int_list = []
str_list = []
float_list = []
for i in mixed_list:
  if type(i) == int:
    int_list.append(i)
  elif type(i) == str:
    str_list.append(i)
  elif type(i) == float:
    float_list.append(i)
  else:
    print("No type matched")

print(int_list)
print(str_list)
print(float_list)

[5, 10, 8]
['Zunairah', 'Bisma', 'Samaviya']
[7.8, 3.5]